body {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 200ms all ease;
}

.main {
    width: 100px;
    height: 50px;
    background: gray;
    border: 2px solid yellow;
    border-radius: 40px;
    padding: 2px;
    box-shadow:inset  -2px 3px 5px rgba(0, 0, 0, 0.5);
}

.circle {
    position: absolute;
    width: 36px;
    height: 34px;
    background: white;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
    transition: 200ms all ease;
    transform: translateX(0px);
    box-shadow: inset 2px 1px 5px rgba(0, 0, 0, 0.7),
    inset 1px 1px 1px rgba(0, 0, 0, 0.7);
}


.indicator {
    color: #fff;
    transition: 0.5 all linear;
}